# Supabase
VITE_SUPABASE_URL=https://angkznyumeoahjnxgxyb.supabase.co
VITE_SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFuZ2t6bnl1bWVvYWhqbnhneHliIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzA4NzQzMDUsImV4cCI6MjA4NjQ1MDMwNX0.M6QrvhJPIIf90aCnpoBm1cE1juDEQeDdGRswIF0M92s
SUPABASE_URL=https://angkznyumeoahjnxgxyb.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFuZ2t6bnl1bWVvYWhqbnhneHliIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzA4NzQzMDUsImV4cCI6MjA4NjQ1MDMwNX0.M6QrvhJPIIf90aCnpoBm1cE1juDEQeDdGRswIF0M92s
# Backend API
VITE_API_URL=http://localhost:8000
